body{
    background-color: black;
    margin: 0 auto;
    font-family: "Montserrat"
}
.square{
   width: 30%;
   float: left;
    padding-bottom : 30% ;
    background: purple;
    margin: 1.66%;
    border-radius: 30px;
}
#container{
    margin: 0 auto;
    width: 800px;
}
h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0 auto;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}
#stripe{
    height: 30px;
    text-align: center;
    background-color: white;
    color: black;
}
.selected{
    background-color: lightblue;
}
#colorDisplay{
    font-size: 200%;
}