body{
    background-color: black;
}
.square{
   width: 30%;
   float: left;
    padding-bottom : 30% ;
    background: purple;
    margin: 1.66%;
    border-radius: 30px;
}
#container{
    margin: 0 auto;
    width: 800px;
}
h1{
    color: white;
}

#stripe{
    height: 30px;
    text-align: center;
    background-color: white;
    color: black;
}
.selected{
    background-color: lightblue;
}